.demon {
height: 270;

}

.demon_girl{
display: flex;
padding-top: 15vmin;
padding-bottom: 15vmin;
background-color: tomato;
}

.demon{display: flex;
    max-height: 50vmin;
    max-width: 60%;
    margin-right: 6vmin;
    margin-left: 2vmin;
    border: 4px solid tomato;}

    .staring{
        height: 440px;
        width: 400px;
    }
    

body {
padding: 0%;
margin: 0%;
}


nav{
justify-content: space-evenly;
background-color: tomato;
    display: flex;
font-size: 3vmin;
}

.header {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height:80vmin ;
background-color: tomato;
}